@import "../../scss/mixins";

.menu {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 5%, white 40%);
  // background-color: white;
}

.navigation {
  @include container;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.containerBottom {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  margin-right: -20px;
}
