@import "../../scss/mixins";
@import "../../scss/colors";

.container {
  @include container;
  display: flex;
  justify-content: space-between;
}

.threeColumns {
  background-color: $color-section-secendary;
}
