@import "../../scss/colors";
@import "../../scss/mixins";

.container {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 200px;
  width: 100%;
}

.contact {
  height: 1026px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  height: 1026px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 120%;
  background-position: top right;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.wrapper {
  width: 50%;
}

.footer {
  @include container;
  width: 100%;
  font-size: 18px;
  color: $color-text-primary;
  padding: 22px 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.footertitle {
  flex-grow: 1;
}
.footericon {
  padding-left: 20px;
}
