@import "../scss/colors";
@import "../scss/fonts";

.small {
  color: $color-text-btn-small;
  font-size: 1.4rem;
  font-weight: 400;
  display: block;
  padding: 0.9rem 10px;
  text-decoration: none;
}

.medium {
  color: $color-text-primary;
  font-size: 1.8rem;
  font-weight: 400;
  display: block;
  padding: 0.9rem 2rem;
  text-decoration: none;
}

.big {
  width: 310px;
  height: 120px;
  border: 0.75px solid $color-border;
  color: $color-text-primary;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
